{{define "head"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | {{.Site.Title}}</title>
    <meta name="Keywords" content="{{.Site.Keywords}}">
    <meta name="Description" content="{{.Site.Description}}">
    {{if eq .Site.Template "hyper"}}
    <link href="/assets/hyper/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/hyper/css/app-creative.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/hyper/css/hyper.css" rel="stylesheet" type="text/css">
    {{else if eq .Site.Template "luna"}}
    <link rel="stylesheet" href="/assets/luna/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/luna/main.css">
    {{else}}
    <link rel="stylesheet" href="/assets/unicorn/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/unicorn/css/base.css">
    <link rel="stylesheet" href="/assets/unicorn/css/common.css">
    <link rel="stylesheet" href="/assets/unicorn/css/index.css">
    {{end}}
</head>
<body>
<header class="header sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-left clearfix">
                    <div class="logo text-center d-none d-md-block">
                        <a href="/">{{if .Site.Logo}}<img src="{{.Site.Logo}}" alt="Logo">{{end}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="header-right clearfix">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/">{{.Site.TextLogo}}</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarColor">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item"><a class="nav-link" href="/">首页</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/order-search">订单查询</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
{{end}}
{{define "foot"}}
<footer class="footer p-3">
    <div class="row">
        <div class="col-12 text-center">
            <div class="author">Powered by：<a href="/">Dufaka-Go</a></div>
            <div class="custom">{{.Site.Footer}}</div>
        </div>
    </div>
</footer>
<script src="/assets/unicorn/js/jquery-3.6.0.min.js"></script>
<script src="/assets/unicorn/js/bootstrap.min.js"></script>
{{if eq .Site.Template "luna"}}
<script src="/assets/luna/layui/layui.js"></script>
{{end}}
</body>
</html>
{{end}}
