{{define "luna_home.html"}}<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<title>首页 | {{.Site.Title}}</title>
<link rel="stylesheet" href="/assets/luna/layui/css/layui.css">
<link rel="stylesheet" href="/assets/luna/main.css">
<link rel="shortcut icon" href="/assets/brand/logo.svg" type="image/svg+xml">
<link rel="stylesheet" href="/assets/style/storefront.css"></head>
<body>
<div class="background"></div>
<div class="header">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
            <div class="header-box">
                <a href="/">
                    {{template "mark" .}}
                    <div class="info">{{.Site.TextLogo}}</div>
                </a>
                <div class="query layui-hide-xs">
                    <a href="/order-search">
                        <svg t="1602923269232" class="icon" viewBox="0 0 1024 1024" width="20" height="20" aria-hidden="true"><path d="M965.6 447.2 752 447.2c-14.4 0-26.4-12-26.4-26.4 0-14.4 12-26.4 26.4-26.4l213.6 0c14.4 0 26.4 12 26.4 26.4C992.8 435.2 980.8 447.2 965.6 447.2zM965.6 233.6 699.2 233.6c-14.4 0-26.4-12-26.4-26.4 0-14.4 12-26.4 26.4-26.4l267.2 0c14.4 0 26.4 12 26.4 26.4C992.8 221.6 980.8 233.6 965.6 233.6zM606.4 623.2l156.8 156.8c21.6 21.6 21.6 56.8 0 78.4-21.6 21.6-56.8 21.6-78.4 0L528 701.6c-16-16-20-39.2-12-59.2-51.2 44-117.6 72-190.4 72-162.4 0-293.6-131.2-293.6-293.6s131.2-293.6 293.6-293.6 293.6 131.2 293.6 293.6c0 72.8-28 139.2-72 190.4C567.2 603.2 590.4 607.2 606.4 623.2zM324.8 233.6c-103.2 0-187.2 84-187.2 187.2s84 187.2 187.2 187.2S512 523.2 512 420 428 233.6 324.8 233.6zM805.6 607.2l160 0c14.4 0 26.4 12 26.4 26.4 0 14.4-12 26.4-26.4 26.4l-160 0c-14.4 0-26.4-12-26.4-26.4C779.2 619.2 791.2 607.2 805.6 607.2z" fill="#ffffff"></path></svg>
                        <span>订单查询</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{if .Site.Notice}}<div class="main layui-hide-xs">
    <div class="layui-row"><div class="layui-col-sm12"><div class="main-box">
        <div class="title"><p class="tit">站点公告:</p></div>
        <div class="goods"><div class="tips">{{rich .Site.Notice}}</div></div>
    </div></div></div>
</div>
<div class="main layui-hide-sm layui-show-xs">
    <div class="layui-row"><div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12"><div class="main-box">
        <div class="title"><p class="tit">站点公告:</p></div>
        <div class="goods"><div class="tips">{{rich .Site.Notice}}</div></div>
    </div></div></div>
</div>
{{end}}
<div class="main">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
            <div class="main-box">
                <div class="title"><span>选择分类</span></div>
                <div class="cate">
                    {{range $i, $g := .Groups}}
                    <div class="cate-box{{if eq $i 0}} cate-box-select{{end}}" data-key="{{$i}}">
                        <p>{{$g.Name}}</p>
                        <div>商品数量：{{len $g.Goods}}</div>
                    </div>
                    {{end}}
                </div>
                <div class="goods">
                    <p class="title-2"><span>选择商品</span></p>
                    <div class="goods-list">
                        {{range $i, $g := .Groups}}
                        {{range $g.Goods}}
                        <a class="goods-box" data-key="{{$i}}" href="{{if gt .InStock 0}}/buy/{{.ID}}{{else}}javascript:void(0){{end}}" style="{{if gt $i 0}}display:none;{{end}}{{if le .InStock 0}}cursor:not-allowed;{{end}}">
                            <div class="picture"><img src="{{if .Picture}}{{.Picture}}{{else}}/assets/brand/logo.svg{{end}}" alt=""></div>
                            <div class="msg">
                                <div class="goods-name">{{.Name}}</div>
                                <div class="goods-price">￥{{yuan .Actual}}{{range wholesaleRows .Wholesale}}<div>满{{index . 0}}个 单价{{index . 1}}元/件</div>{{end}}</div>
                                <div class="goods-num">
                                    <div><p style="width: {{stockPercent .InStock .Sales}}%;"></p></div>
                                    <span>剩余{{.InStock}}件</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="layui-row"><div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
        <div style="text-align:center">{{rich .Site.Footer}}</div>
        <p>{{template "powered"}}</p>
    </div></div>
</div>
<div class="query-m"><a href="/order-search"><svg viewBox="0 0 1024 1024" width="30" height="30" aria-hidden="true"><path d="M320.512 428.032h382.976v61.44H320.512zM320.512 616.448h320.512v61.44H320.512z" fill="#ffffff"></path><path d="M802.816 937.984H221.184l-40.96-40.96V126.976l40.96-40.96h346.112l26.624 10.24 137.216 117.76 98.304 79.872 15.36 31.744v571.392l-41.984 40.96z m-540.672-81.92h500.736V345.088L677.888 276.48 550.912 167.936H262.144v688.128z" fill="#ffffff"></path></svg><span>查单</span></a></div>
<script>
document.querySelectorAll(".cate-box").forEach(function (box) {
  box.addEventListener("click", function () {
    var key = box.getAttribute("data-key");
    document.querySelectorAll(".cate-box").forEach(function (item) {
      item.classList.toggle("cate-box-select", item === box);
    });
    document.querySelectorAll(".goods-box").forEach(function (card) {
      card.style.display = card.getAttribute("data-key") === key ? "" : "none";
    });
  });
});
</script>
</body></html>{{end}}
