{{define "luna_error.html"}}<!DOCTYPE html>
<html lang="zh-CN"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>提示 | {{.Site.Title}}</title>
<link rel="stylesheet" href="/assets/luna/layui/css/layui.css"><link rel="stylesheet" href="/assets/luna/main.css"></head>
<body><div class="background"></div>
<div class="main"><div class="layui-row"><div class="layui-col-md8 layui-col-md-offset2"><div class="main-box">
<p>{{.Message}}</p><p><a href="/">返回首页</a></p>
</div></div></div></div></body></html>{{end}}
