{{define "search.html"}}{{template "head" .}}
<section class="main-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-3"><div class="card-body">
                    <h3 class="text-center">订单查询</h3>
                    <form method="post" action="/search-order-by-sn" class="mb-3">
                        <label class="col-form-label">订单号</label>
                        <input class="form-control form-control-sm" name="order_sn">
                        {{if .Site.SearchPwd}}<label class="query-password">查询密码<input type="password" class="form-control layui-input" name="search_pwd" required></label>{{end}}<button class="btn btn-primary mt-2">查询</button>
                    </form>
                    <form method="post" action="/search-order-by-email" class="mb-3">
                        <label class="col-form-label">邮箱</label>
                        <input class="form-control form-control-sm" name="email">
                        <label class="col-form-label">查询密码</label>
                        <input class="form-control form-control-sm" name="search_pwd">
                        <button class="btn btn-primary mt-2">查询</button>
                    </form>
                    <form method="post" action="/search-order-by-browser">
                        <button class="btn btn-outline-primary">查询本机订单</button>
                    </form>
                </div></div>
            </div>
        </div>
    </div>
</section>
{{template "foot" .}}{{end}}
