{{define "search.html"}}{{template "head" .}}
<div class="row g-3">
<div class="col-md-4"><div class="card"><div class="card-body">
  <h5>订单号查询</h5>
  <form method="post" action="/search-order-by-sn"><input class="form-control mb-2" name="order_sn"><button class="btn btn-dark">查询</button></form>
</div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body">
  <h5>邮箱查询</h5>
  <form method="post" action="/search-order-by-email"><input class="form-control mb-2" name="email" placeholder="邮箱"><input class="form-control mb-2" name="search_pwd" placeholder="查询密码"><button class="btn btn-dark">查询</button></form>
</div></div></div>
<div class="col-md-4"><div class="card"><div class="card-body">
  <h5>浏览器查询</h5>
  <form method="post" action="/search-order-by-browser"><button class="btn btn-dark">查询本机订单</button></form>
</div></div></div>
</div>
{{template "foot" .}}{{end}}
